@import ../../sass/init

.Sport
  max-width: 720px
  margin-bottom: 60px

  .header
    display: flex
    align-items: center
    padding-bottom: 10px
    border-bottom: 1px solid rgb(233, 233, 233)
    background-color: white

    .sport-name
      margin-right: 30px
      color: black
      font-size: 24px
      font-weight: 600
      text-transform: uppercase

    .Medal
      display: flex
      align-items: center
      margin-right: 30px
      font-weight: 600
    
      .icon
        margin-right: 5px

        &.gold
          color: $color-gold

        &.silver
          color: $color-silver

        &.bronze
          color: $color-bronze

      .counter
        font-size: 16px

  .table
    display: flex
    flex-direction: column
    border-collapse: collapse

    .table-header
      display: flex
      height: 40px
      border-bottom: 1px solid rgb(200, 200, 200)

      tr
        display: flex
        flex-grow: 1

        th
          display: flex
          align-items: center
          height: 40px
          font-size: 14px
          font-weight: 600
          text-align: left

          &.medal
            width: 80px

          &.participant
            width: 50%